version: "3.9"

services:
  api:
    build: .
    container_name: documind-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    volumes:
      - .:/app
    command: >
      uvicorn src.api.main:app
      --host 0.0.0.0
      --port 8000

  redis:
    image: redis:7-alpine
    container_name: documind-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
