fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-community
langchain-openai
langchain-text-splitters

sentence-transformers
faiss-cpu
chromadb

pypdf
python-docx
pandas
pillow
pytesseract

ragas
datasets

redis
psycopg2-binary

tqdm
loguru
